*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #350048;
}
.container{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container .btn{
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;

}